body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  font-family: sans-serif;
  background-color: rgb(248,249,254);
}

button:hover{
  cursor: pointer;
}

/* risebtn and card */
.risebtn{
  border:none;
}
.risebtn:hover{
  transition: 0.2s ease-in;
  transform: translateY(-1px);
  box-shadow: rgba(0, 0, 0, 0.10) 0px 6px 6px;  border : 0px solid #F5365C; 
}
.card{
  border-radius: 8px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: white;
}
a{
  text-decoration: none;
}
hr{
  color: rgba(141, 136, 136, 0.462);
}

#grid {  
  display: grid; 
  grid-template-columns: 0.6fr 1.5fr 1fr 1.5fr 0.6fr; 
  grid-template-rows: 0.25fr 0.9fr 1fr 1fr; 
  gap: 10px 10px; 
  grid-template-areas: 
    ". header header header ."
    ". middlemain middlemain middlemain ."
    ". video video invest ."
    ". info info deals ."; 
  /* border: 1px solid black; */
  height: 100vh;
  width: 100vw;
}
#deals {
 margin-bottom: 3rem;
}
#header{grid-area: header;}
#middlemain { grid-area: middlemain; }
#video { grid-area: video; }
#invest { grid-area: invest; }
#info { grid-area: info; }
#deals { grid-area: deals; }

@media screen and (max-width: 1100px) {
  bode>*{
    margin: 0.5rem;
    padding: 0.5rem;
  }
  #grid {
    grid-template-columns: 1fr; 
    grid-template-rows: 0.25fr 0.9fr 1fr 1fr; 
    grid-template-areas: 
    "header"
    "middlemain"
    "video"
    "info"
    "invest"
    "deals"; 
  }
}